@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #5F07BF;
    --primaryB-color: #3C0479;
    --primaryW-color: #8438D7;
    --secondary-color: #0B07D0;
    --secondary-colorB: #03008A;
    --secondary-colorW: #403DD3;
    --red-color: #FF0000;
    --green-color: #38F299;
    --gray-color: #151515;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #111
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 8px
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Ajuste a opacidade conforme necessário */
    z-index: 0;
}
header, .home, .s-about, .projects, .s-experience, .s-projects, .s-services, .s-contact ,.footer {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima da sobreposição */
}


body {
    background-color: black;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Para evitar scroll indesejado */
    overflow-x: hidden; /* Remove o scroll horizontal */
    background: #081b29;
    color: #ffffff;
    overflow: auto;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca o canvas no fundo */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(0, 0, 0, 0.8); /* Fundo preto com 80% de opacidade */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;

}
.logo img {
    height: 42px;
    width: 48px;
}
.header a{
    justify-content: center;
    align-items: center;
    color: white;
}
img {
    width: 48px;
    height: 48px;
    padding-right: 5px;
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover {
    color: var(--green-color);

}
.navbar a :active{
    color: var(--green-color);

}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui espaço entre o texto e a imagem */
    padding: 20px 10%;
    height: 100vh; /* Garante que a seção ocupe a altura total da tela */

}
.home-logo {
    position: absolute;
    right: -10%;
    top: 60%;
    transform: translateY(-70%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.3;
}

.home-logo img {
    width: 600px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    color: #0B07D0;
}

.home-content {
    max-width: 700px;
    flex: 1;
    text-align: left; /* Garante que o texto fique alinhado à esquerda */
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 1%;
}
.home-content h3 {
    color: var(--primaryW-color);
    font-size: 28px;
    padding-bottom: 1%;
}
.home-content p{
    color: rgb(190, 190, 190);
    margin: 20px 0 40px;
    font-size: 20px;
    padding-bottom: 1%;
}

.btn-box {
    display: flex;
    justify-content: flex-start;
    gap: 15px; /* Espaço entre os botões */
    margin: 20px 0;
}

.btn-box {
    display: flex;
    gap: 20px;
}

button {
    --color: var(--primary-color);
    font-family: inherit;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    background-color: transparent;
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

button:hover {
    color: #fff;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 250px;
    
    display: flex;
    justify-content: space-between;
}
.home-sci a{

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-sci a:nth-child(1):hover{
    color: var(--primaryB-color);
}

.home-sci a:nth-child(2):hover{
    color: var(--primaryB-color);
}

.home-sci a:nth-child(3):hover{
    color: var(--primaryB-color);
}

.home-sci a:nth-child(4):hover{
    color: var(--primaryB-color);
}

/* Mouse Scrol*/
.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #eee;
    border-radius: 60px;
    overflow: hidden;
    position: absolute; /* Posiciona o ícone em relação à section home */
    bottom: 20px; /* Alinha o ícone 20px acima do fundo da section home */
    left: 50%; /* Centraliza horizontalmente */

}

.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite
}


/* SECTION ABOUT */

.s-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da seção */
    padding: 20px;
    background-color: transparent; /* Remove o fundo da seção */
    
    z-index: 3;
}

.about-container {
    background-color: #151515; /* Cor de fundo do retângulo */
    border-radius: 10px;
    border: 1px solid #1F1F1F;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra para o retângulo */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    
}

.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-content img {
    max-width: 500px; /* Tamanho máximo da imagem */
    max-height: 450px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Mantém a proporção da imagem */
}

.about-text {
    max-width: 600px;
}

.about-text h4 {
    font-size: 20px;
    color: var(--primary-color);
}

.about-text h2 {
    font-size: 40px;
    margin: 5px 0;
    color: white;
}

.about-text h3 {
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 18px;
    color: gray;
    line-height: 1.6;
}

.social-buttons {
    padding-top: 2%;
    display: flex;
    width: auto;
    gap: 4%;
}

.social-btn {
    display: inline-block;
    width: 50px; /* Largura dos botões */
    height: 50px; /* Altura dos botões */
    margin: 5px;
    border-radius: 10px; /* Arredondar os cantos */
    color: #fff;
    text-decoration: none;
    font-size: 24px; /* Tamanho do ícone */
    text-align: center;
    line-height: 50px; /* Alinhamento vertical do ícone */
    transition: background-color 0.3s, transform 0.3s;
}

.social-btn i {
    vertical-align: middle; /* Alinhamento vertical do ícone */
}

.social-btn.linkedin { background-color: #0077b5; }
.social-btn.instagram { background-color: #e4405f; }
.social-btn.discord { background-color: #7289da; }
.social-btn.github { background-color: #333; }
.social-btn.behance { background-color: #1769ff; }

.social-btn:hover {
    transform: scale(1.1); /* Efeito de ampliação ao passar o mouse */
    background-color: #333; /* Cor de fundo escura para hover, ajuste conforme preferido */
}
/* SECTION Projetos  */
.projects {
    
    z-index: 2;
    align-items: center;
    padding: 0 10%;
    justify-content: center;
}
.projects h2 {
    padding-top: 10px;
    
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px
    }
}

/* Experience */
.s-experience {
    padding: 5% 20px;
    background-color: #151515;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.experience-grid {
    display: flex;
    gap: 20px;
}

.company-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
}

.company {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.company:hover {
    color: var(--primary-color);
    border-left: solid 4px var(--primary-color);
}

.experience-details {
    flex: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}
.text-experience div{
    color: white;
    display: flex;
    justify-content: space-between;
}

.titleExperience {
    
    font-size: 18px;
    margin-bottom: 5px;
}

.dateExperience {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.companyExperience {
    color: var(--primaryW-color);
    font-size: 16px;
    margin-bottom: 10px;
}

.changeExperience {
    font-size: 14px;
    color: white;
    line-height: 1.6;
}
/* PROJECTS */
.s-projects {
    padding: 60px 10%;
    text-align: center;
}

.s-projects h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #ffffff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.project-card {
    background-color: var(--gray-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.2);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-card h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 15px;
}

.tags {
    margin-bottom: 15px;
}

.tags span {
    display: inline-block;
    color: #ffffff;
    border: 1px solid var(--green-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tags .span-html{
    border: 1px solid rgb(255, 81, 0);
}
.tags .span-css{
    border: 1px solid rgb(0, 195, 255);
}
.tags .span-javascript{
    border: 1px solid rgb(255, 251, 0);
}
.tags .span-arduino{
    border: 1px solid #009297;
}
.tags .span-python{
    border: 1px solid #33638B;
}
.tags .span-game{
    border: 1px solid #ff0202;
}
.buttons {
    display: flex;
    gap: 4%;
}
.btn-live-demo {
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn-live-demo::before {
    margin-left: auto;
}
.btn-live-demo::after, .btn-live-demo::before {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    display: block;
    transition: 0.5s;
}

.btn-live-demo:hover::after, .btn-live-demo:hover::before {
    width: 100%;
}


/* Services */
.s-services {
    padding: 60px 10%;
    text-align: center;
    background-color: var(--gray-color);
    
}

.s-services h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: white;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-card {
    background-color: #111;
    border: 1px solid #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex; /* Adiciona flexbox */
    flex-direction: column; /* Organiza os itens na coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.service-card .icon {
    font-size: 48px; /* Ajuste o tamanho do ícone conforme necessário */
    color: white; /* Cor do ícone */
    margin-bottom: 15px; /* Espaço entre o ícone e o título */
    display: flex; /* Adiciona flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    
}

.service-card h3 {
    font-size: 16px; /* Ajuste o tamanho do título */
    color: white; /* Cor do título */
    margin-bottom: 15px; /* Espaço entre o título e a descrição */
}

.service-card p {
    font-size: 14px; /* Tamanho do texto */
    color: white; /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre linhas */
}

/*Contact*/
.s-contact {
    background: linear-gradient(to right, rgba(75, 3, 153, 0.8), rgba(86, 5, 172, 0.8)),url(../assets/image/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
    padding: 60px 10%;
    /*background: linear-gradient(135deg, #5F07BF, #8438D7);*/
    color: #fff;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.s-contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.s-contact p {
    font-size: 16px;
    margin-bottom: 40px;
}

.contact-form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: left;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: transparent;
    color: #333;
    font-size: 16px;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    color: #5F07BF;
    font-size: 14px;
    background: #fff;
}

.btn-submit {
    background: #5F07BF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn-submit:hover {
    background: #8438D7;
}


@media (max-width: 768px) {
    .contact-form {
        padding: 30px;
    }
}


/* FOOTER */
footer {
    
    background-color: #151515; /* Fundo escuro */
    color: #ffffff; /* Texto branco */
    padding: 25px 15%; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

.grid-layout {
    display: flex;
    justify-content: space-between; /* Espaço entre o texto e o logo */
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens quebrem a linha em telas menores */
}

footer p {
    margin: 0; /* Remove margem padrão */
    font-size: 18px; /* Tamanho do texto */
}

footer a {
    color: var(--primary-color); /* Cor do link */
    text-decoration: none; /* Remove sublinhado do link */
    padding-right: 4px;
}

footer a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

.powered-by {
    display: flex;
    align-items: center;
}

.powered-by p {
    margin-right: 10px; /* Espaço entre o texto e o logo */
}

.powered-by img {
    width: 42px; /* Largura do logo */
    height: auto; /* Mantém a proporção do logo */
    margin-left: 10px; /* Espaço entre o texto e a logo */
}
