@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #5F07BF;
    --primaryB-color: #3D037D;
    --primaryW-color: #843ED0;
    --secondary-color: #0B07D0;
    --secondary-colorB: #040377;
    --secondary-colorW: #4442ca;
    --red-color: #FF0000;
    --green-color: #38F299;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Ajuste a opacidade conforme necessário */
    z-index: 0;
}
header, .home {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima da sobreposição */
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Para evitar scroll indesejado */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca o canvas no fundo */
}

body {
    background: #081b29;
    color: #ffffff;

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;

}
.header a{
    justify-content: center;
    align-items: center;

    color: white;
}
img {
    width: 48px;
    height: 48px;
    padding-right: 5px;
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover {
    color: var(--green-color);

}
.navbar a :active{
    color: var(--green-color);

}
.home {
    height: 100vh;
    background: url();
    display: flex;
    align-items: center;
    padding: 0 10%;

}
.home-content {
    max-width: 700px;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;


}
.home-content h3 {
    color: #9dcff3;
    font-size: 28px;
}
.home-content p{
    margin: 20px 0 40px;
    font-size: 16px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;

    width: 345px;
    height: 50px;
    
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: var(--primary-color);
}
.btn-box a:nth-child(2){
    background: transparent;
    color: var(--primary-color);

}

.btn-box a:nth-child(2):hover{
    color: var(--primaryB-color);
}

.btn-box a:nth-child(2)::before{
    background: var(--primary-color);
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primaryB-color);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 250px;
    
    display: flex;
    justify-content: space-between;
}
.home-sci a{

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-sci a:nth-child(1):hover{
    color: var(--primaryB-color);
}

.home-sci a:nth-child(2):hover{
    color: var(--primaryB-color);
}

.home-sci a:nth-child(3):hover{
    color: var(--primaryB-color);
}

.home-sci a:nth-child(4):hover{
    color: var(--primaryB-color);
}

/* SECTION Projetos  */
.projects {
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}